
each pollChunk, i in items
  div(class="poll-chunk " + ((i == 0) ? "": "d-none") id=i)
    each poll in pollChunk
      div(class="container")
        h4
          span #{poll.survey_house}  
          span(class="badge bg-primary")
            a(href=poll.url class="text-white") Link to poll
        each question in poll.poll_questions
          div(class="poll-question-" + i)
            h5 #{question.text}
            for subpopulation in question.sample_subpopulations
              b #{subpopulation.name}
              ul
                each response, j in subpopulation.responses
                  li(class="subpopulation-response")
                    div
                      h6 #{response.pollster_label}
                      div(class="progress" )
                        div(class="progress-bar " + ((i === 0) ? "": "d-none") role ="progressbar" aria-valuenow=response.value aria-valuemin="0" aria-valuemax= subpopulation.responses.map(obj => obj.value).reduce((acc, response) => acc + response)) #{response.value}
    div(class="container center")
      btn(class="page-btn btn justify-content-center")
        i(class="material-icons") arrow_downward
